<header class="chsr toolbar">
    <nav class="navbar px-1">
        <button type="button" class="btn text-light transparent d-md-none ctrl-panel-toggle">
            <i class="fas fa-bars"></i>
        </button>

        <div class="nav-title text-nowrap text-light ml-2 mr-auto" id="navTitle"></div>

        <button type="button" class="btn mx-1 transparent d-none" id="profileToggle">
            <i class="fas fa-id-badge"></i>
        </button>
        <button type="button" class="btn mx-1 transparent d-none" id="ticketToggle">
            <i class="far fa-calendar-check"></i>
        </button>

        <div class="ml-1 dropdown" id="toolbarOptionsDropdown">
            <button type="button" aria-haspopup="true" aria-expanded="false" class="text-light transparent btn" data-toggle="dropdown">
                <i class="fa fa-cog fa-lg"></i>
            </button>
            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu right-side animated">
                <button type="button" tabindex="0" class="dropdown-item" onclick="window.location.assign('/setting')">
                    <i class="fa fa-user"></i>
                    <span>設定</span>
                </button>
                <button type="button" tabindex="0" class="dropdown-item" onclick="window.location.assign('/signout')">
                    <i class="fa fa-sign-out-alt"></i>
                    <span>登出</span>
                </button>
            </div>
        </div>
    </nav>
</header>
