# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
/.log/*.log

# production
/config/chatshier.js
/public/config/chatshier.js
/public/config/url-config.js
/.well-known/*

# npm
npm-debug.log
