<!DOCTYPE html>
<html>

<head>
    <% include ./partials/meta_tags.ejs %>
    <% include ./partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ./partials/require_css.ejs %>
    <link rel="stylesheet" href="/lib/css/emojionearea.min.css" />
    <link rel="stylesheet" href="/css/table.css" />
</head>

<body>
    <% include ./partials/loading.ejs %>

    <div class="root d-flex w-100 h-100">
        <% include ./partials/control_panel.ejs %>

        <div class="ml-auto w-100 page-wrapper">
            <% include ./partials/toolbar.ejs %>

            <div class="container my-5">
                <div class="chsr card">
                    <div class="title">
                        <h3 class="mb-4 pt-3 px-3">加好友回覆</h3>
                        <p class="mb-3 pt-0 px-3">首頁 / 訊息 / 加好友回覆</p>
                        <p class="mb-3 pt-0 px-3">
                            <span>當您的客戶訂閱或加入您的官方帳號時，機器人會自動發送訊息</span>
                            <br/>
                            <span class="text-remark">(最多只能設定 5 則訊息)</span>
                        </p>
                    </div>
                    <div class="px-3 my-3" id="appSelector">
                        <div class="dropdown app-dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="appsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="dropdown-text">請選擇聊天機器人</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="appsDropdown"></div>
                        </div>
                        <div class="search-add mb-2">
                            <button type="button" class="btn btn-light btn-border btn-insert" id="insertBtn" data-toggle="modal" data-target="#greetingModal" aria-hidden="true">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="px-3 my-3 chsr table">
                        <table class="chsr table">
                            <thead>
                                <tr>
                                    <th scope="col">內容</th>
                                    <th scope="col">時間</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody id="greetingsBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chsr modal fade" id="greetingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <form class="modal-body">
                    <div class="form-group" id="rowOfAppSelect">
                        <label for="greetingAppId" class="col-form-label font-weight-bold">目標機器人:</label>
                        <div class="select-container">
                            <select class="form-control" name="greetingAppId" id="greetingAppId">
                                <option value=''>載入中...</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="modalInsertBtn">新增</button>
                    <button type="button" class="btn btn-primary" id="modalUpdateBtn">修改</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 刪除確認訊息 -->
    <div id="dialog_modal" class="chsr modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">取消</button>
                    <button type="button" class="btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/require_js.ejs %>
    <script src="/lib/js/emojionearea.min.js"></script>
    <script src="/js/partials/reply_message_selector.js"></script>
    <script src="/js/greeting.js"></script>
</body>

</html>