<!DOCTYPE html>
<html>

<head>
    <% include ./partials/meta_tags.ejs %>
    <% include ./partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ./partials/require_css.ejs %>
    <link rel="stylesheet" href="/lib/css/emojionearea.min.css" />
    <link rel="stylesheet" href="/css/table.css" />
</head>

<body>
    <% include ./partials/loading.ejs %>

    <div class="root chsr d-flex w-100 h-100">
        <% include ./partials/control_panel.ejs %>

        <div class="ml-auto w-100 page-wrapper">
            <% include ./partials/toolbar.ejs %>

            <div class="container my-5">
                <div class="chsr card">
                    <div class="title">
                        <h3 class="mb-4 pt-3 px-3">關鍵字回覆訊息</h3>
                        <p class="mb-3 pt-0 px-3">首頁 / 訊息 / 關鍵字回覆</p>
                        <p class="mb-3 pt-0 px-3">當您的客戶對機器人傳送訊息時，符合設定之關鍵字訊息將自動回覆</p>
                    </div>

                    <div class="px-3 mt-3" id="appSelector">
                        <div class="dropdown app-dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="appsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="dropdown-text">請選擇聊天機器人</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="appsDropdown"></div>
                        </div>
                        <div class="search-add mb-2">
                            <span class="icon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="search-bar align-middle" placeholder="搜尋" aria-hidden="true">
                            <button type="button" class="btn btn-light btn-border inner-add insert-btn" data-toggle="modal" data-target="#keywordreplyModal" aria-hidden="true" disabled="true">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="px-3 mb-3 chsr table">
                        <table class="chsr table" id="keywordreply_open_table">
                            <caption>開放</caption>
                            <thead>
                                <tr>
                                    <th>關鍵字</th>
                                    <th>內容</th>
                                    <th>次數</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <table class="chsr table" id="keywordreply_draft_table">
                            <caption>草稿</caption>
                            <thead>
                                <tr>
                                    <th>關鍵字</th>
                                    <th>內容</th>
                                    <th>次數</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chsr modal fade" id="keywordreplyModal" tabindex="-1" role="dialog" aria-labelledby="keywordreplyModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="keywordreplyModalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="keywordreply-form">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold">目標機器人:</label>
                            <div class="select-container">
                                <select class="form-control" name="keywordreplyAppName">
                                    <option value="">載入中...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="rowOfKeyword">
                            <label class="col-form-label font-weight-bold">關鍵字:</label>
                            <div class="input-container">
                                <input class="form-control" type="text" name="keywordreplyKeyword">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-check-label col-form-label font-weight-bold">是否儲存為草稿？</label>
                            <div class="input-container form-check">
                                <input class="form-check-input" type="checkbox" name="keywordreplyIsDraft" />
                                <label class="form-check-label">是</label>
                            </div>
                        </div>
                    </form>
                    <span class="text-danger error-msg"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="updateSubmitBtn">更新</button>
                    <button type="button" class="btn btn-primary" id="insertSubmitBtn">新增</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog_modal" class="chsr modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">取消</button>
                    <button type="button" class="btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/require_js.ejs %>
    <script src="/lib/js/emojionearea.min.js"></script>
    <script src="/js/partials/reply_message_selector.js"></script>
    <script src="/js/keywordsreply.js"></script>
</body>

</html>