<!DOCTYPE html>
<html>

<head>
    <% include ./partials/meta_tags.ejs %>
    <% include ./partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ./partials/require_css.ejs %>
    <link rel="stylesheet" href="/css/setting.css" />
</head>

<body>
    <% include ./partials/loading.ejs %>

    <div class="root chsr d-flex w-100 h-100">
        <% include ./partials/control_panel.ejs %>

        <div class="ml-auto w-100 page-wrapper">
            <% include ./partials/toolbar.ejs %>

            <div class="d-flex flex-column flex-sm-row mt-4 tabs-container">
                <div class="col-2 d-none d-lg-block tabs-desktop">
                    <nav class="chsr nav nav-pills nav-fill flex-column">
                        <a class="nav-item nav-link text-left" data-toggle="pill" href="#apps">聊天機器人</a>
                        <a class="nav-item nav-link text-left" data-toggle="pill" href="#settings">基本設定</a>
                        <a class="nav-item nav-link text-left" data-toggle="pill" href="#fields">客戶分類條件</a>
                        <a class="nav-item nav-link text-left" data-toggle="pill" href="#internal-group">內部部門</a>
                    </nav>
                </div>

                <div class="px-0 col-12 col-lg-10 tab-content">
                    <div id="apps" class="h-100 tab-pane fade">
                        <h3 class="ml-3">
                            <span>聊天機器人</span>
                            <button type="button" class="btn btn-light btn-border" id="addGroupNameAppBtn" data-toggle="modal" data-target="#groupAddModal" disabled="true">
                                <i class="fas fa-plus fa-fw"></i>
                                <span>新增部門</span>
                            </button>
                        </h3>

                        <div class="card prof-wid mx-3">
                            <div class="user-name card-header">
                                <span class="card-title"></span>
                            </div>
                            <div class="card-body app-container"></div>
                        </div>
                    </div>

                    <div id="settings" class="h-100 tab-pane fade">
                        <h3 class="ml-3">
                            <span>基本設定</span>
                            <button type="button" class="btn btn-border btn-light" id="userProfileEdit" data-toggle="modal" data-target="#setting-modal">
                                <i class="fas fa-edit fa-fw"></i>
                                <span>編輯</span>
                            </button>
                        </h3>

                        <div class="card prof-wid mx-3">
                            <div class="user-name card-header">
                                <span class="card-title"></span>
                            </div>

                            <div class="card-body">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td class="prof-label-col">ID:</td>
                                            <td class="prof-content-col" id="prof-IDnumber"></td>
                                        </tr>
                                        <tr>
                                            <td class="prof-label-col">公司:</td>
                                            <td class="prof-content-col" id="prof-company"></td>
                                        </tr>
                                        <tr>
                                            <td class="prof-label-col">手機:</td>
                                            <td class="prof-content-col" id="prof-phonenumber"></td>
                                        </tr>
                                        <tr>
                                            <td class="prof-label-col">Email:</td>
                                            <td class="prof-content-col" id="prof-email"></td>

                                        </tr>
                                        <tr>
                                            <td class="prof-label-col">地址:</td>
                                            <td class="prof-content-col" id="prof-address"></td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle prof-label-col">變更密碼:</td>
                                            <td class="text-right prof-content-col">
                                                <button class="btn btn-info" id="changePasswordBtn">展開</button>
                                                <div class="text-left collapse" id="changePasswordCollapse">
                                                    <form class="change-password-form">
                                                        <div class="form-group">
                                                            <label class="col-form-label font-weight-bold">舊密碼:</label>
                                                            <input type="password" class="form-control" name="password" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label font-weight-bold">新密碼:</label>
                                                            <input type="password" class="form-control" name="newPassword" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label font-weight-bold">確認新密碼:</label>
                                                            <input type="password" class="form-control" name="newPasswordCfm" />
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-sm btn-submit">確認</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr id="notificationRow">
                                            <td class="prof-label-col">
                                                <i class="fas fa-bell fa-fw"></i>
                                                <span>訂閱通知:</span>
                                            </td>
                                            <td class="prof-content-col">
                                                <div class="form-check setting-cbx">
                                                    <input class="form-check-input" type="checkbox" id="notificationCbx">
                                                    <label class="form-check-label" for="notificationCbx">啟用</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="d-none" id="gcalendar_row">
                                            <td class="prof-label-col">
                                                <div class="feature-icon">
                                                    <img src="image/google_calendar.png" alt="Google Calendar" />
                                                </div>
                                                <span>Google 行事曆:</span>
                                            </td>
                                            <td class="prof-content-col">
                                                <div class="form-check setting-cbx">
                                                    <input class="form-check-input" type="checkbox" id="gcalendar_cbx">
                                                    <label class="form-check-label" for="gcalendar_cbx">啟用</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="fields" class="h-100 tab-pane fade">
                        <h3 class="ml-3">
                            <span>客戶分類條件</span>
                        </h3>

                        <div class="card prof-wid mx-3">
                            <div class="user-name card-header">
                                <span class="card-title"></span>
                            </div>

                            <div class="card-body chsr fields" id="appsFieldsWapper"></div>
                        </div>
                    </div>

                    <div id="internal-group" class="h-100 tab-pane fade">
                        <h3 class="ml-3">
                            <span>內部部門</span>
                            <button class="btn btn-light btn-border group-insert" data-toggle="modal" data-target="#groupAddModal">
                                <i class="fas fa-plus fa-fw"></i>
                                <span>新增</span>
                            </button>
                        </h3>

                        <div class="card prof-wid mx-3">
                            <div class="user-name card-header">
                                <span class="card-title"></span>
                            </div>

                            <div class="card-body group-body"></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 d-lg-none p-0 tabs-mobile">
                    <nav class="chsr nav nav-pills nav-fill">
                        <a class="nav-item nav-link col-3" data-toggle="pill" href="#apps">
                            <i class="fas fa-user-secret"></i>
                            <br class="d-none d-sm-block"/>
                            <span class="d-none d-sm-block">聊天機器人</span>
                        </a>
                        <a class="nav-item nav-link col-3" data-toggle="pill" href="#settings">
                            <i class="fas fa-id-card"></i>
                            <br class="d-none d-sm-block"/>
                            <span class="d-none d-sm-block">基本設定</span>
                        </a>
                        <a class="nav-item nav-link col-3" data-toggle="pill" href="#fields">
                            <i class="fas fa-filter"></i>
                            <br class="d-none d-sm-block" />
                            <span class="d-none d-sm-block">客戶分類條件</span>
                        </a>
                        <a class="nav-item nav-link col-3" data-toggle="pill" href="#internal-group">
                            <i class="fas fa-users"></i>
                            <br class="d-none d-sm-block" />
                            <span class="d-none d-sm-block">內部部門</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog_modal" class="chsr modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="textContent"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">取消</button>
                    <button type="button" class="btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/modals/group_add_modal.ejs %>
    <% include ./partials/modals/app_add_modal.ejs %>
    <% include ./partials/modals/setting_modal.ejs %>
    <% include ./partials/modals/payment_modal.ejs %>

    <% include ./partials/require_js.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="/js/helpers/google_client.js"></script>
    <script src="/js/helpers/google_calendar.js"></script>
    <script src="/js/helpers/facebook.js"></script>
    <script src="/js/setting.js"></script>
</body>

</html>