<!DOCTYPE html>
<html>

<head>
    <% include ./partials/meta_tags.ejs %>
    <% include ./partials/favicon.ejs %>
    <title><%= title %></title>

    <% include ./partials/require_css.ejs %>
</head>

<body>
    <% include ./partials/loading.ejs %>

    <script src="config/chatshier.js"></script>
    <script src="config/url-config.js"></script>
    <script src="/js/helpers/cookie.js"></script>
    <script src="/js/helpers/restful_api.js"></script>
    <script src="/js/helpers/google_client.js"></script>
    <script src="/js/helpers/google_calendar.js"></script>
    <script src="/js/signout.js"></script>
</body>

</html>