<div class="chsr modal fade calendar-modal" id="calendar_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增事件</h4>
            </div>

            <div class="modal-body">
                <div class="px-3 input-wrapper">
                    <div class="form-group">
                        <label class="form-check-label col-form-label font-weight-bold">標題:</label>
                        <input class="form-control event-title" type="text" placeholder="請輸入標題" required />
                    </div>

                    <div class="form-group">
                        <label for="startDatetime" class="col-form-label font-weight-bold">開始時間:</label>
                        <div class="input-group date" id="startDatetimePicker">
                            <span class="input-group-addon input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </span>
                            <input type="text" class="form-control" name="startDatetime" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="endDatetime" class="col-form-label font-weight-bold">結束時間:</label>
                        <div class="input-group date" id="endDatetimePicker">
                            <span class="input-group-addon input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </span>
                            <input type="text" class="form-control" name="endDatetime" required />
                        </div>
                    </div>

                    <div class="form-group draft-checkbox">
                        <label class="form-check-label col-form-label font-weight-bold">是否為全天？</label>
                        <div class="input-container form-check">
                            <input class="form-check-input" type="checkbox" id="event_is_allday" />
                            <label class="form-check-label">是</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label font-weight-bold">描述:</label>
                        <textarea class="form-control event-content" type="text" placeholder="請輸入描述內容" rows="6"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delCalendarBtn">刪除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveCalendarBtn">更新</button>
                <button type="button" class="btn btn-primary" id="addCalendarBtn">新增</button>
            </div>
        </div>
    </div>
</div>