<div class="chsr modal fade" id="setting-modal" tabindex="-1" role="dialog" aria-labelledby="profModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary" id="setting-modal-submit-btn">確認</button>
            </div>
        </div>
    </div>
</div>